# Visual Studio
.vs/
*.user
*.suo
.vscode/

# Build folders 
build/
Debug/
Release/
x64/
x86/

# Compiled files
*.exe
*.obj
*.pdb
*.ilk

# CMake (if you ever use it later)
CMakeFiles/
CMakeCache.txt

# Logs
*.log